* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
main {
    padding: 16px;
    color: rgb(214, 128, 0);
    background-color: rgb(255, 246, 218);
}

header {
    color:rgb(252, 72, 72); ;
}
nav {
    background-color: rgb(252, 72, 72);
    border-bottom: 1px solid black ;
    padding: 18px;
    font-size: 16px;
}

img {
    height: 200px;
    padding: 16px 0px 0px 0px;
}

img:hover {
    height: 200px;
    padding: 16px 0px 0px 0px;
    border-radius: 50%;
}
footer{
    background-color: rgb(123, 255, 0);
    padding: 32px;
    border-top: 1px solid black;
    font-size: larger;
}

h2 {
    padding: 10px 0px 10px 0px
}
.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto ;
    column-gap: 175px ;
    row-gap: 15px;

}
a, u {
    text-decoration: none;
  }

.indention {
    padding: 0px 0px 0px 50px;
  }

table {
    border-collapse: collapse;
    width: 20%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(248, 195, 108) ;
}
